@font-face {
  font-family: 'HelveticaNowBlack';
  font-style: normal;
  font-weight: 900;
  src: url('https://newtonscreative.github.io/helvetica-now-text-black/beefree-fonts/assets/fonts/helvetica-now-text-black.woff') format('woff');
}
